@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,300&family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    font-family: 'Roboto';
}

body {
    margin: 0;
}

.hero, footer {
    background-color: #2c545c;
}

a:visited {
    color: #e5e7eb;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding: 120px;
}

.hero-left {
    width: 500px;;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    align-items: center;
}

.header h1 {
    color: #f9faf8;
    font-size: 24px;
}

nav {
    display: flex;
    gap: 12px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

nav a:hover {
    text-decoration: underline;
}

.hero-left h1 {
    color: #f9faf8;
    font-size: 48px;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #60aeb0;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    padding: 8px 32px;
    font-size: 16px;
}

button:hover {
    /*There's probably a better way to darken on hover*/
    background-color: #359AB7;
    color: #fff;
    border: 1px solid transparent;
}

img {
    height: auto;
    width: 500px;
}

footer {
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
    padding: 24px;
}

.info {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 48px;
    padding:  0 120px;
}

.figures {
    display: flex;
    justify-content: space-evenly;
}

figure img{
    border-radius: 24px;
    width: 268px;
    height: 268px;
    border: 5px solid #60aeb0;
}

figcaption {
    font-weight: normal;
    font-size: 18px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    background-color: #e5e7eb;
    padding:  0 120px;
}

.quote-author {
    text-align: right;
    font-weight: bold;
}

.cta-container {
    padding: 60px 300px;
}

.cta-container p {
    text-align: center;
}

.cta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #60aeb0;
    color: #e5e7eb;
    border-radius: 8px;
    padding: 2rem;
}

.cta button a {
    text-decoration: none;
}

.cta-txt {
    display: flex;
    flex-direction: column;
}

.cta-btn {
    border: 2px solid #e5e7eb;
}

.cta-btn:hover {
    border: 2px solid #e5e7eb;
}

.fa-github {
    color: #fff;
}

.fa-github:hover {
    color: #ddd;
}